$Colors: (
    1:red,
    2:gold,
    3:purple,
    5:green
);

:root {
    font-size: 62.50%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    // background: map-get($Colors,2);
    background-color: map-get($Colors,3);
    font-family: 'Montserrat', sans-serif;
    color:white;
}

h1 {
    font-weight: 300;
    font-size: 2.3em;
}